<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFL</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark sticky-top">
    <a href="../../view/clerk/clerkHome.html">
      <button class="btn btn-success shadow rounded px-3 ms-3">
        <i class="fa-solid fa-backward"></i> <i class="fa-solid fa-house"></i>
      </button>
    </a>
  </nav>
  <div class="container-sm mt-5">
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Customer ID</th>
        <th>Gender</th>
        <th>Mobile</th>
      </thead>
      <tbody id="customerEntity">

      </tbody>
    </table>
  </div>

  <script src="https://kit.fontawesome.com/34f393dde4.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="../../scripts/clerk/viewCustomers.js"></script>
</body>

</html>